In [1]:
import pandas as pd
import numpy as np
import re

pd.set_option("display.max_colwidth", 300)

In [ ]:
import pandas as pd

questions_path = "../data/raw/Questions.csv"

questions_df = pd.read_csv(
    questions_path,
    encoding="latin1",
    nrows=10000      # chunk
)

questions_df.shape

(10000, 7)

In [2]:
questions_df.columns

Index(['Id', 'OwnerUserId', 'CreationDate', 'ClosedDate', 'Score', 'Title',
       'Body'],
      dtype='object')

In [3]:
questions_df.head(3)

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...

In [4]:
questions_df[["Title", "Body"]].iloc[0]

Title    SQLStatement.execute() - multiple queries in o...
Body     <p>I've written a database generation script i...
Name: 0, dtype: object

no of questions /answers/tags in raw dataset

In [8]:
import pandas as pd

questions_path = "../data/raw/Questions.csv"

q_count = 0
for chunk in pd.read_csv(
    questions_path,
    encoding="latin1",
    chunksize=100_000
):
    q_count += len(chunk)

q_count

1264216

In [6]:
answers_path = "../data/raw/Answers.csv"

a_count = 0
for chunk in pd.read_csv(
    answers_path,
    encoding="latin1",
    chunksize=100_000
):
    a_count += len(chunk)

a_count

2014516

In [7]:
tags_path = "../data/raw/Tags.csv"

t_count = 0
for chunk in pd.read_csv(
    tags_path,
    encoding="latin1",
    chunksize=100_000
):
    t_count += len(chunk)

t_count

3750994